{% extends 'base.html.twig' %}
{% block body %}
{% block content %}
<header id="header" role="banner">
    <div class="container">
        <div id="navbar" class="navbar navbar-default">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#main-slider"><i class="icon-home"></i></a></li>
                    <li><a href="#portfolio">Idea Bazyliszka</a></li>
                    <li><a href="#pricing">Dla samorządów</a></li>
                    <li><a href="#obywatel">Obywatel</a></li>
                    {#<li><a href="#pricing">Pricing</a></li>#}
                    {#<li><a href="#about-us">About Us</a></li>#}
                    <li><a href="#contact">Kontakt</a></li>
                </ul>
            </div>
        </div>
    </div>
</header><!--/#header-->

<section id="main-slider" class="carousel">
    <div class="carousel-inner">
        <div class="item active">
            <div class="container">
                <div class="carousel-content">
                    <h1>Przetwarzamy umowy publiczne</h1>
                    <p class="lead">Przetwarzamy umowy publiczne</p>
                </div>
            </div>
        </div><!--/.item-->
        {#<div class="item">#}
            {#<div class="container">#}
                {#<div class="carousel-content">#}
                    {#<h1>Przeglądaj umowy jednostek samorządowych</h1>#}
                    {#<p class="lead">Download free but 100% premium quaility twitter Bootstrap based WordPress and HTML themes <br>from shapebootstrap.net</p>#}
                {#</div>#}
            {#</div>#}
        {#</div><!--/.item-->#}
    </div><!--/.carousel-inner-->
    <a class="prev" href="#main-slider" data-slide="prev"><i class="icon-angle-left"></i></a>
    <a class="next" href="#main-slider" data-slide="next"><i class="icon-angle-right"></i></a>
</section><!--/#main-slider-->

<section id="services">
    <div class="container">
        <div class="box first">
            <div class="row">
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="portfolio">
    <div class="container">
        <div class="box">
            <div class="center gap">
                <h2>Idea Bazyliszka</h2>
                <p class="lead">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse in neque elit. Pellentesque at felis tincidunt, malesuada urna a, sagittis tellus. Donec vehicula quam vitae placerat maximus. Nullam dictum pretium quam id sollicitudin. Proin sagittis, quam sed imperdiet tincidunt, mi mi ullamcorper odio, sit amet viverra ligula arcu et orci. Aenean ullamcorper nisi a diam venenatis, in varius nunc hendrerit. Duis interdum elementum nunc quis porttitor. Aenean vel ultrices lacus. Curabitur a nunc nibh. Mauris eu justo non nunc mollis feugiat. Fusce varius porttitor nisi in viverra. Nam porta enim eu justo vehicula, non vestibulum turpis porttitor. Nam eget erat nec nisi consectetur iaculis mattis vitae sem. Maecenas sit amet mauris quis erat blandit bibendum. Proin euismod ac nisl et ultricies. Integer lectus libero, dictum eu tristique in, venenatis vel tortor.

                    Aenean dui nisi, pulvinar vitae auctor eu, imperdiet eu sapien. Donec molestie dui quis interdum tempus. Sed dignissim felis odio, id tempus massa convallis rutrum. Quisque hendrerit risus dui, non ultricies arcu congue eget. Aliquam faucibus mattis fringilla. Aenean vel venenatis neque. Mauris quis turpis ac ipsum gravida dictum a eget urna. Vestibulum pellentesque dolor in quam interdum, ac convallis turpis euismod.

                    Mauris at dolor pharetra, blandit urna ac, tristique nulla. Quisque nec velit eleifend nisl porttitor porta. Sed at justo orci. Nullam tempus, felis id tristique faucibus, ipsum odio sagittis arcu, sit amet feugiat justo arcu eu eros. Etiam ornare euismod felis ut sodales. Duis consectetur imperdiet ultrices. Aliquam quis metus eu lectus pulvinar ultrices id eget purus. Ut et ultricies dolor. Etiam eget pulvinar nibh, non molestie est. Cras placerat metus nec ante ullamcorper porttitor. Praesent tincidunt leo eu nunc sagittis pretium. Nam bibendum laoreet elit. Vestibulum ut consequat sem. Curabitur vehicula tincidunt urna in tincidunt. Nullam luctus urna non convallis feugiat.


                </p>
            </div><!--/.center-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#portfolio-->
<section id="obywatel">
    <div class="container">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin luctus scelerisque neque, id cursus risus feugiat ut. Nullam non euismod est, sed ultricies enim. Sed tincidunt dolor dolor, non tristique lacus venenatis et. Phasellus porttitor leo ut ultrices fringilla. Fusce enim risus, porttitor mattis elit at, congue eleifend arcu. Sed faucibus nulla euismod, egestas nisi eget, volutpat velit. Donec mollis convallis tellus, vulputate gravida eros tincidunt non.

Mauris eget sollicitudin odio. Aliquam aliquam rutrum nisi et aliquam. Nam ut sem sapien. Curabitur eleifend neque in massa volutpat tempus. Praesent consectetur convallis turpis. Duis lobortis lectus felis, eget ultricies ipsum lobortis in. Aenean at erat vel nulla vehicula fringilla eu eu augue. Aliquam vestibulum tellus sed molestie luctus. Phasellus ac nisl non metus ullamcorper blandit.

Vestibulum semper magna vitae porta tincidunt. Sed sed urna sagittis, gravida magna nec, sagittis tortor. Fusce vel scelerisque justo, in hendrerit ex. Ut dictum sem quis ipsum pretium pulvinar. Duis posuere tempor lobortis. Nunc non feugiat ligula. Integer justo massa, bibendum ut odio vitae, tempus fringilla urna.

Morbi at molestie elit, varius mollis tortor. Sed iaculis et nisi at blandit. Fusce nec diam vitae odio rutrum cursus vel sodales lectus. Suspendisse non tincidunt urna. Ut enim sem, imperdiet a egestas sit amet, congue eu nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi in sapien sollicitudin, sodales turpis in, euismod quam. Etiam interdum, lorem eget mollis fringilla, urna orci pellentesque orci, a placerat libero mi sit amet enim.

In hac habitasse platea dictumst. Ut non mollis purus. In vehicula felis sed sapien pellentesque condimentum. Pellentesque luctus lacus metus, feugiat dignissim lectus cursus a. Suspendisse orci tortor, mattis nec lacus eget, mollis tincidunt arcu. Duis facilisis felis sem, tincidunt porttitor dui vehicula ut. Aenean pretium tortor nibh, vitae tincidunt purus aliquam in. Curabitur mauris felis, venenatis id tortor in, interdum porttitor massa. Mauris dapibus vel est nec scelerisque. Suspendisse dolor libero, iaculis non sem sed, convallis imperdiet sapien. Sed tempus, ex sed viverra euismod, purus ipsum elementum ligula, vitae finibus ligula nibh a leo. Suspendisse dapibus dignissim ante, vel maximus neque congue a. Duis eu maximus neque, et auctor diam. Duis ornare elit arcu, ut pulvinar urna fermentum at. Morbi enim eros, congue ac luctus nec, sodales nec sapien.
    </div>
</section>
<section id="pricing">
    <div class="container">
        <div class="box">
            <div class="center">
                <h2>Dla samorządów</h2>
                <p class="lead">Samorządy mogą same wprowadzać umowy do naszej bazy danych. Zaloguj się, lub zarejestruj.</p>
            </div><!--/.center-->
            <div class="big-gap"></div>
            <div id="pricing-table" class="row">
                <div class="col-sm-6">
                    <ul class="plan">
                        <li class="plan-name">Zaloguj się</li>
                        {#<li class="plan-price">$29</li>#}
                        {#<li>5GB Storage</li>#}
                        {#<li>1GB RAM</li>#}
                        {#<li>400GB Bandwidth</li>#}
                        {#<li>10 Email Address</li>#}
                        {#<li>Forum Support</li>#}
                        {#<li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>#}
                        {% render url('fos_user_security_login') %}
                    </ul>
                </div><!--/.col-sm-4-->
                <div class="col-sm-6">
                    <ul class="plan">
                        <li class="plan-name">Rejestracja</li>
                        {#<li class="plan-price">$199</li>#}
                        {#<li>30GB Storage</li>#}
                        {#<li>5GB RAM</li>#}
                        {#<li>5TB Bandwidth</li>#}
                        {#<li>1000 Email Address</li>#}
                        {#<li>Forum Support</li>#}
                        {#<li class="plan-action"><a href="#" class="btn btn-primary btn-lg">Signup</a></li>#}
                        {% render url('fos_user_registration_register') %}

                    </ul>
                </div><!--/.col-sm-4-->
            </div>
        </div>
    </div>
</section><!--/#pricing-->

<section id="contact">
    <div class="container">
        <div class="box last">
            <div class="row">
                <div class="col-sm-6">
                    <h1>Contact Form</h1>
                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                    <div class="status alert alert-success" style="display: none"></div>
                    <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php" role="form">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" required="required" placeholder="Email address">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" required="required" class="form-control" rows="8" placeholder="Message"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger btn-lg">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div><!--/.col-sm-6-->
                <div class="col-sm-6">
                    <h1>Our Address</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                        <div class="col-md-6">
                            <address>
                                <strong>Twitter, Inc.</strong><br>
                                795 Folsom Ave, Suite 600<br>
                                San Francisco, CA 94107<br>
                                <abbr title="Phone">P:</abbr> (123) 456-7890
                            </address>
                        </div>
                    </div>
                    <h1>Connect with us</h1>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="social">
                                <li><a href="#"><i class="icon-facebook icon-social"></i> Facebook</a></li>
                                <li><a href="#"><i class="icon-google-plus icon-social"></i> Google Plus</a></li>
                                <li><a href="#"><i class="icon-pinterest icon-social"></i> Pinterest</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="social">
                                <li><a href="#"><i class="icon-linkedin icon-social"></i> Linkedin</a></li>
                                <li><a href="#"><i class="icon-twitter icon-social"></i> Twitter</a></li>
                                <li><a href="#"><i class="icon-youtube icon-social"></i> Youtube</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!--/.col-sm-6-->
            </div><!--/.row-->
        </div><!--/.box-->
    </div><!--/.container-->
</section><!--/#contact-->

<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                &copy; 2016 Fundacja Media 3.0. All Rights Reserved.
            </div>
            <div class="col-sm-6">
                <img class="pull-right" src="images/shapebootstrap.png" alt="ShapeBootstrap" title="ShapeBootstrap">
            </div>
        </div>
    </div>
</footer><!--/#footer-->
{% endblock %}
{% endblock %}