{% extends 'base.html.twig' %}
{% block body %}
{% include "user/navbar_user.html.twig" %}
<div class="container" style="padding-top:78px">
	<div class="panel">
		<div class="panel-heading">
		    <h3><div style="float: left; color: cyan;">|</div>Wybierz jak chcesz dodać nową umowę</h3><br/>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-6 form-group">
					<a href="{{ path('umowy_import') }}" class="btn btn-lg btn-primary btn-block">
						Import .CSV
					</a>
				</div>
				<div class="col-md-6 form-group">
  					<a href="{{ path('umowa_gmina') }}" class="btn btn-lg btn-primary btn-block">
  						Dodaj umowę formularzem
  					</a>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}