{% extends 'base.html.twig' %}
{% block body %}
{% include "user/navbar_user.html.twig" %}
<div class='container'>
	<div class='box'>
		<div class="text-center panel-heading">
		    <div class="pull-left"><h3><div style="float: left; color: cyan;">|</div>Wybierz jak chcesz dodać nową umowę</h3><br/></div>
		</div>
		<div class="box">
			<button type="button" class="btn btn-xlarge">
				<a href="{{ path('umowy_import') }}">Importuj plik .CSV</a>
			</button>
  			<button type="button" class="btn btn-xlarge">
  				<a href="{{ path('umowa_gmina') }}">Dodaj umowę formularzem</a>
  			</button>
		</div>
	</div>
</div>
{% endblock %}