{% trans_default_domain 'FOSUserBundle' %}
{% extends 'edit_profile.html.twig' %}
{% block body %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
    {{ form_widget(form) }}
    <div>
	<button type="submit" class="btn btn-primary">{{ 'profile.edit.submit'|trans }}</button>
    </div>
{{ form_end(form) }}
{% endblock %}







