{% extends 'base.html.twig' %}

{% block body %}
    {% for m in app.session.flashbag.get('notice') %}
    <div class="alert alert-success">{{ m }}</div>
    {% endfor %}
Import danych.
{% endblock %}

{% block stylesheets %}

{% endblock %}
